<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cliente MVC Twitter</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta
            content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"
            id="Viewport" name="viewport"/>
    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" media="screen"
          rel="stylesheet"
          th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}"/>
    <!-- Optional theme -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"
          rel="stylesheet"
          th:href="@{/webjars/bootstrap/dist/css/bootstrap-theme.min.css}"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"
            th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/mustachejs/0.8.2/mustache.js"
            th:src="@{/webjars/mustache.js/mustache.js}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script id="template" type="x-tmpl-mustache">
{{#.}}
 <div class="row panel panel-default">
  <div class="panel-heading">
   <a href="https://twitter.com/{{user.screenName}}" target="_blank"><b>@{{user.screenName}}</b></a>
   <div class="pull-right">
    Followers count: {{user.followersCount}}
   </div>
  </div>
  <div class="panel-body">{{text}}</div>
 </div>
 {{/.}}


    </script>

    <script src="../static/functions.js" th:src="@{/functions.js}"></script>


</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <p class="navbar-brand">Cliente MVC Twitter</p>
    </div>
    <div class="nav navbar-right">
        <a href="http://www.unizar.es" title="UNIZAR"><img alt=""
                                                           height="50" src="../static/logoUZ.png"
                                                           th:src="@{/logoUZ.png}"/></a>
    </div>
</nav>
<div class="container">
    <!-- Formulario principal -->
    <form action="search" id="search" method="get">
        <div class="row">
            <input class="form-control" id="q" name="q" placeholder="Escribe algo que quieras buscar"
                   type="text"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <button class="btn btn-default center-block" type="submit">Buscar</button>
        </div>
    </form>
    <div class="row">&nbsp;</div>
    <div id="resultsBlock"></div>
</div>
</body>
</html>